.home{
    width: 100%;
    height: 430px;
    display: grid;
    place-items: center;
}
.homes{

    width: 98%;
    height: 410px;
    background-image: url('./images/back.webp');
    background-size: cover;
    background-position: 1px -80px;
    animation-name: image;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes image {

    25%{background-image: url('./images/back1.webp');}
    50%{background-image: url('./images/back2.jpeg');}
    75%{background-image: url('./images/back3.webp');}
    100%{background-image: url('./images/back5.jpeg');}
  
}